@model DotNetCoreAppExample.Application.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Remover Contato";
}

<h2>@ViewData["Title"]</h2>

<h3>Quer realmente remover o contato?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-info">Voltar para a lista</a>
        </div>
    </form>
</div>
