@model DotNetCoreAppExample.Application.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Alterar Contato";
}

<h2>@ViewData["Title"]</h2>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        @Html.Partial("_ErrorSummary")

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Ativo" />
        <input type="hidden" asp-for="AtivadoPor" />
        <input type="hidden" asp-for="EnderecoId" />
        <input type="hidden" asp-for="Endereco.Id" />

        @Html.Partial("_DadosContato")
        @Html.Partial("_DadosEndereco")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btSubmit" value="Alterar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar para a lista</a>
            </div>
        </div>


    </div>
</form>

<div id="TelefonesForm">
    <div id="myModalTarget">
        @Html.Partial("_DetalhesTelefones")
    </div>
</div>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt.min.js"></script>


    <script>
        PrepararToastr();
        PrepararDatepicker();
        AjaxModal();
    </script>

    @{
        if (ViewBag.RetornoPost != null)
        {
            var notificacao = ViewBag.RetornoPost.ToString().Split(',');

            <script>
                toastr["@notificacao[0]"]("@notificacao[1]");
            </script>
        }
    }
}
