@model IEnumerable<DotNetCoreAppExample.Application.ViewModels.ContatoViewModel>

@{
    ViewData["Title"] = "Contatos";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Create" class="btn btn-primary">
                <span title="Novo Contato" class="glyphicon glyphicon-plus-sign"></span> Novo Contato
            </a>
        </div>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.DataNascimento.HasValue)
                    {
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
